<template>

  <div>
      <h1>Restaurant Listings</h1>
      <RestaurantCard />
      <BaseIcon />


  
  </div>

</template>

<script>
import RestaurantCard from '@/components/RestaurantCard.vue';

export default {
  components: {
      RestaurantCard
  }
}

</script>