<template>


<div>
        <h1>Create Restaurant</h1>

<form class="new-restaurant-form" @submit.prevent="onSubmit">
        <p>
        <label>New restaurant:</label>
        <input v-model="restname" type="text" placeholder="Enter restaurant name">
        </p>


<input type="submit" value="Submit!">
</form>

</div>

</template>

<script>

//import { defineComponent } from '@vue/composition-api'
// BB test

export default {

  data(){
    return {
        restname: null
    }

  }


}


</script>

<style scoped>

</style>
